@charset "UTF-08";

@import url(reset.css);
@import url(variaveis.css);

.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
    height: 50px;
    /* border: 1px solid rgb(146, 133, 133); */
    max-width: 1920px;
    min-width: 647px;
    padding: 5px 40px 10px;
   
}
form{
    background-color: rgba(180, 180, 160, 0.493);
    border-radius: 0px 11px 11px 0px;
}

#ipesq{
    height: 38px;
    width: 410px;
    padding: 0px;
    border: 0.5px solid rgba(177, 166, 166, 0.699);
    border-radius: 4px;

}

#usuario{
    display: inline-flex;
    
    height: 30px;
    width: 30px;
    /* padding: 10px; */
    border: 3px solid rgb(132, 167, 152);
    border-radius: 50%;
    background-color: aqua;
}
 #one{
    display: inline-flex;
    width: 150px;
    height: auto;
    justify-content: space-around;
    /* position: relative;
    left: 40px; 
    Vou usar o padding*/
 }

 #second > form{
    width: 451px;;
 }

 #a-second{
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0);
    /* position: relative; */
    /* top: 5px; */
    vertical-align: middle;
 }

 button{
    height: 38px;
    width: 10px;
 }
 main{
    display: flex;
    height: 1030px;
    max-width: 1920px;
    min-width: 1752px;
    /* border: 1px solid red; */
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--cor3);
    padding-top: 40px;
    
 }

 .primeiro{
    width: 957px;
    height: 667px;
    position: relative;
    left: 150px;
 }

.primeiro > p{
    height: 92px;
    width: 597px;

    /* position: relative;
    left: 10px;  */
    /* voltar! */
}

.classNav{
    display: flex;
    flex-direction: row;
    width: 933px;
    height: 55px;
    justify-content: space-between;
    
}

.classNav > div{
    
    width: 170px;
    height: 55px;
    display: inline-flex;
    text-align: center;
    
}

.classNav > div > img{
    width: 24px;
    height: 24px;
}


.classNavDio > h3 {
    width: 40px;
    height: fit-content;
    position: relative;
    left: 20px;
    
}

.classNavDio > p{
    width: 130px;
    height: 17px;
    font-size: 16px;
    position: relative;
    
   
    right: 13px;
    top: 20px;
}


.segundo{
    width: 442px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    
}



.segundo :hover{
    background-color: rgb(245, 245, 245);
    
    
  
    
}
