@charset "UTF-08";

@import url(reset.css);

header{
    height: 54px;
    width: 100vw;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

/*Continuar...  */
