@charset "UTF-08";

@import url(reset.css);

header{
    height: 48px;
    width: 99vw;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
} 
/* 
header{
    display: grid;
    height: 54px;
    padding: 0 0.5rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    align-items: center;
}
*/
.divHeader{
    width: 133px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.pesq{
    position: absolute;
    left: 40%;
}

.divHeader #ipesq{ 
    width: 462px;
    height: 28px;;
    border: 1px solid black; 
    border-radius: 4px 0px 0px 4px;
}

.divHeader #imgPersonagem{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

.pesq img{
    background-color: rgb(204, 204, 204);
    border-radius: 0px 4px 4px 0px;
    height: 28px;
}

main{
    display: grid;
    width: 100vw;
    height: 94vh;
    box-sizing: border-box;
    grid-template-columns: 1fr 4fr;
    border-top: 1px solid rgba(216, 207, 207, 0.301);
    overflow: hidden;
}

main .sidebar{
    height: 490px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.sidebar .divSidebar{
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.sidebar .divSidebar p{
    font-size: 15px;
    display: inline-block;
    width: 77px;
}

